.item-block{
    padding: 0 10%;
}

.ad-image{
    display: flex;
    gap: 5px;
}

.item-block-first{
    display: flex;
    justify-content: space-between;
}

.admin-history{
    border: 1px solid;
    border-radius: 15px;
    background-color: bisque;
    overflow-y: auto;
    max-height: 200px;
}

.item-description{
    margin-top: 15px;
    border: 1px solid;
    border-radius: 15px;
    text-align: left;
    padding-left: 5px;
}

.decisions{
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}