#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.AdsList{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  gap: 5px;
}

.ad-card {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 15px;
  position: relative;
}

.ad-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ad-content {
  display: block;
  text-align: left;
  height: 100%;
  padding-bottom: 9%;
}

.ad-content p{
  margin: 0;
}

.ad-content h3{
  margin-top: 0;
  font-weight: 500;
}

.ad-image{
  display: block;
  margin-right: 0;
}